$colors:(
    biruzy:(
        basic-color: #69A4A2,
        light-color:#B2EBEA,
        text-color: #2B4A4A,
        bg-color: #DAE4E5,
    ),
    greenly:(
        basic-color: #E1EACC,
    ),
    sea:(
        basic-color: #E6EEEF,
    ),
)
